.button-animated{
    animation: kreep 0.4s infinite alternate;
    margin-top: 3rem;
    margin: auto;
    background: $primary-color-black;
    color: $primary-color-white;
    font-weight: $font-weight-text;
    font-size: $font-size-title;
    border-radius: .8rem;
    padding: .8rem;
    width: fit-content;
    &>a{
        width: 100%;
        height: 100%;
        color: $primary-color-white;
        border-radius: .8rem;
        padding: .8rem;
        &:hover{
            text-decoration: none;
            color: $primary-color-white;
            font-size: $font-size-title;
        }
    }
    &>button{
        background: $primary-color-black; 
        color: $primary-color-white;
        border:none;
        &:hover{
            text-decoration: none;
            font-size: $font-size-title;
        }
    }
}
/*.button-primary{
    margin: 1rem;
    background: rgb(56, 56, 56);
    color: white;
    font-weight: 400;
    font-size: 1.9rem;
    border-radius: .8rem;
    padding: .8rem;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
        transform:scale(1.05);
    }
}*/