//colors
$primary-color-black: rgb(56, 56, 56);
$primary-color-white: white;
$shadow-right: #ababab;
$shadow-left: white;
//sizes
$font-size-name: 5rem;
$font-size-text: 1.6rem;
$font-size-title: 2rem;
$font-weight-text:400;
$font-weight-title:600;
//icon
$icon-size:4rem;