<section class="content__aboutme">
    <h2>About Me</h2>
    <div class="content__aboutme-content" *ngFor="let parragraph of about | keyvalue">
        <p>{{parragraph.value}}</p>
    </div>
    <div class="content__aboutme-img">
        <img src="assets/img/angular.png" alt="" srcset="">
        <img src="assets/img/css.png" alt="" srcset="">
        <img src="assets/img/sass.png" alt="" srcset="">
        <img src="assets/img/typescript.png" alt="" srcset="">
    </div>
    <div class="content__aboutme-languages">
        <h2>Languages</h2>
        <p>English - B1 Certificate</p>
    </div>
    <div class="button-animated">
        <a class="certificate-button" href="#popup" data-test-id="certificate-button">View All Certificates</a>
    </div>
    
</section>