@import '../../styles/variables/variables';
:host{
    width: 50%;
    @media only screen and (max-width: 56.25em) { 
        width: 100% ;
       }; 
}
.content__aboutme{
    padding: 1rem;
    font-size: $font-size-text;
    margin: .5rem;
    &-content{
        margin: .5rem;
        text-align: justify;
        font-weight: $font-weight-text;
    }
    &-img{
        overflow: hidden;
        width: 100%;
        height: 12rem;
        display: flex;  
        justify-content: space-between;
        &>img{
            width: 20%;
            object-fit: contain;
        }
    }
    &>h2{
        margin-bottom: 2rem;
        font-size: $font-size-title;
        font-weight: $font-weight-title;
    }
    &-languages{
        font-size: $font-size-text;
        font-weight: $font-weight-text;
        &>h2{
            font-weight: $font-weight-title;
        }
    }
}
