:host{
    width: 50%;
    @media only screen and (max-width: 56.25em) { 
        width: 100% ;
       }; 
}
.content__aboutme{
    padding: 1rem;
    font-size: 1.6rem;
    margin: .5rem;
    &-content{
        font-size: 1.6rem;
        margin: .5rem;
        text-align: justify;
        font-weight: 400;
        
    }
    &-img{
        overflow: hidden;
        width: 100%;
        height: 12rem;
        display: flex;  
        justify-content: space-between;
        &>img{
            width: 20%;
            object-fit: contain;
        }
    }
    &>h2{
        margin-bottom: 2rem;
    }
    &-languages{
        font-size: 1.6rem;
        font-weight: 400;
    }
}
