<div class="popup" id="popup">
    <div class="content">
        <a class="popup__close" href="#" data-test-id="close-certificate">&times;</a>
        <ngb-carousel class="carousel" #carousel [interval]="2500" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">            
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="picsum-img-wrapper">
                  <img class="carousel__img" src="" [src]="img" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
          </ngb-carousel>
       
    </div>
</div>

  