@import '../../styles/variables/variables';
:host{
    width: 50%;
    @media only screen and (max-width: 56.25em) { 
        width: 100% ;
       };  
}
.content__experience{
    border-left: 0.1rem solid $primary-color-black;
    padding: 1rem;
    margin: .5rem;
    overflow: hidden;
    @media only screen and (max-width: 56.25em) { 
        border:none
       }; 
    &>h2{
        font-size: $font-size-title;
        font-weight: $font-weight-title;
        margin-bottom: 2rem;
    }
    &__card{
        margin: 1rem;
        height: fit-content;
        overflow: hidden;
        transition: all .5s;
        &:hover{
            box-shadow:  6px 6px 11px $shadow-right,
             -6px -6px 11px $shadow-left;
        }
        &-text{
            font-size: $font-size-text;
            text-align: justify;
            font-family: 'Mulish', sans-serif;
            font-weight: $font-size-text;
        }
        &-enterprise{
            font-size: $font-size-title;
        }
    }
    &-3{
        display: none;
    }
}

.show{
   display: block;
   animation-name: show;
   animation-duration: 1s;
}
