  *,
  *::after,
  *::before{
      margin: 0; 
      padding: 0;
      box-sizing: inherit;
  }
  html{
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
    @media only screen and (max-width: 56.25em) { 
      font-size: 50% ;
     };  
  }
  body {
      box-sizing: border-box;  
  }